.body {
  background: #e5e5e5;
  margin-top: 0px;
  font-family: Segoe UI;
  font-style: normal;
}
.main-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

.code-img {
  width: 320px;
  height: 160px;
  left: 800px;
  top: 205px;
  border-radius: 16px;
}
.quiz-title {
  width: 100px;
  height: 32px;
  left: 910px;
  top: 389px;

  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  /* Typography/Primary */

  color: #1b2a4e;
}

.quiz-quantities-container {
  display: flex;
  flex-direction: column;

  /* Backgrond/Default */

  background: #f6f6f8;

  /* Inside auto layout */

  font-family: Segoe UI;
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  border-radius: 5px;
  box-shadow: 0 0 0 #000, 0 0 0 #000, 0 0 0 #000, 0 0 1px #000;

  text-transform: uppercase;

  /* Accent Colors/Purple/P500 */

  color: #5a4496;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 10px;
}
.questions-No {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 30px;

  /* Backgrond/Default */

  background: #f6f6f8;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  /* margin: 8px 0px; */
}
.quizzed-students-No {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 30px;

  /* Backgrond/Default */

  background: #f6f6f8;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.questions-No {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-evenly;

  width: 100px;

  /* Backgrond/Default */

  background: #f6f6f8;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
