footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  border: 2px solid rgba(16, 24, 64, 0.12);
}
footer button {
  background-color: #634ba5;
  font-family: Segoe UI;
  font-weight: 600;
  font-size: 20px;
  line-height: 64px;
  display: flex;
  align-self: center;
  align-items: center;
  height: 60px;
  border-radius: 10px;
  width: 108px;
  justify-content: center;
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #ffffff;
}
footer h2 {
  color: #634ba5;
}
