.body {
  background: #e5e5e5;
  margin-top: 0px;
}
main {
  display: flex;
  justify-content: center;
}
.quiz-container {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: 60%;
  justify-content: center;
  align-content: center;

  /* align-self: center; */
  /* justify-self: center; */
}
.question {
  display: block;
  width: 80%;
  align-self: center;
  background-color: aqua;
  /* width: 100%; */
}

.answer-option {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 2px #000, 0 0 2px #000;
  width: 80%;

  /* justify-content: flex-start; */
  align-self: center;
  /* align-content: center; */
  justify-content: start;

  /* justify-content: space-between; */
  /* justify-content: center; */
  /* flex-direction: column; */
}
